#tab-3-content {
  display: none;
  opacity: 0;
}

.table {
  width: 100%;
  margin: 3rem 0;
  border-collapse: collapse;
  border-spacing: 0;
}

.table thead th {
  text-transform: uppercase;
  padding: 0.8rem;
}

.table tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.table tbody tr td {
  color: var(--dark-color);
  padding: 1rem;
  text-align: center;
}

.table tbody tr td:first-child {
  text-align: left;
  color: var(--light-color);
}

.table tbody tr:nth-child(odd) {
  background: hsl(0, 0%, 16%);
}

@media (max-width: 600px) {
  .table thead th:nth-child(2),
  .table tbody tr td:nth-child(2) {
    display: none;
  }
}
