footer {
  padding: 1rem;
  background-color: var(--bg-secondary);
}

footer,
footer a {
  font-size: 0.9rem;
}

footer li {
  line-height: 1.9;
}

.footer-cols {
  max-width: 900px;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 2rem;
}

.copyright {
  padding-block: 1.25rem;
}

.copyright span {
  margin-left: 0.5rem;
}

@media (max-width: 500px) {
  .footer-cols {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  .footer-cols ul {
    justify-self: start;
  }
}
