.search {
  height: 3rem;
  width: min(600px, 85%);
  margin: 3rem auto 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search input {
  border: 2px solid var(--border-color);
  border-right: 0px solid transparent;
  border-radius: 50px 0 0 50px;
  background-color: transparent;
  color: var(--light-color);
  font-size: 1.5em;
}

.search-icon {
  display: grid;
  place-items: center;
  width: 4rem;
  padding: 0.6rem;
  border: 2px solid var(--border-color);
  border-left: 0px solid transparent;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-radius: 0 50px 50px 0;
}

.clear-btn {
  cursor: pointer;
}